<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
        include ../static/style.css
</head> 
<body>
    <!-- Shortcut nav>ul>li*3 -->
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">ABout</a></li>
            <li><a href="/">Contact us</a></li>
        </ul>
    </nav>
    <div class="container"></div>

    <h1>Get this shoe in 60% offer, hurry fill this form</h1>
    <p>This is Plain HTML Using PUBG | </p>
    <!-- <p>#{content}</p>
    <p>Using pipe 
        | #{content}
    </p> -->
    <form action="/" id="contact">
    <input type="text" name="name" id='name' placeholder="Enter your name">
    <input type="text" name="age" id='name' placeholder="Enter your age">
    <input type="text" name="gender" id='name' placeholder="Enter your gender">

    </form>
</body>
</html>